<template>
  <draggable v-model='lists' :options="{group: 'lists'}"  class="row">
    <div v-for="list in original_lists" :key= "list.id" class="col-3">
      <h6>{{ list.name }}</h6>
      <hr/>
      <draggable v-model='list.cards' :options="{group: 'lists'}">
        <div v-for="(card, index) in list.cards" :key= "card.id" class="card card-body mb-3">
          {{ card.name }}
        </div>
      </draggable>
      <div class="card card-body">
        <textarea class="form-control"></textarea>
        <button class="btn btn-primary">Add</button>
      </div>
    </div> 
    <input type="text" class="todo-input" placeholder="search any thing .." v-model="sFilter" @keyup="seachfilter">
         <div v-for="(list, index) in todosearchfilter" :key= "list.id" class="todo-item">
           <div class="todo-item-left">
               <div @dblclick="choosethis(list)" class="todo-item-label" >{{ list.name }}</div>
           </div>
       </div>
  </draggable>
</template>

<script>
import draggable from 'vuedraggable'
export default {
  components: { draggable },
  props: ["original_lists"],
  data: function(){
    return {
      message: {},
      lists: this.original_lists,
      sFilter: '',
      search: '',
    }
  },
  computed: {
    todosearchfilter(){
         if (this.search != ''){
          return this.lists.filter(list => {
        return list.name.toLowerCase().includes(this.search.toLowerCase())
      })
      }
      }
  },
  methods: {
    SubmitMessages: function(list_id){
      var data = new FormData
      data.append("card[list_id]", list_id)
      data.append("card[name]", this.messages[list_id])

      Rais.ajax({
        url: "/cards",
        type: "POST",
        data: data,
        dataType: "json",
        success: (data) => {
          const index = this.lists.findIndex(item => item.id == list_id)
          this.lists[index].cards.push(data)
          this.messages[list_id] = undefined

        }
      })
    },
    seachfilter(){
       this.search = this.sFilter
      },
      choosethis(list){
       this.sFilter = list.name
       this.search = ""
      }
  }
}
</script>

<style scoped>
.dragArea{
  min-height: 10px;
}
.board{
  white-space: nowrap;
  overflow-x: auto;
}
.list{
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  width: 270px;
}
p {
  font-size: 2em;
  text-align: center;
}
.todo-input {
  width:100%;
  padding: 10px 18px;
  font-size: 18px;
  margin-bottom:16px;
   }
.todo-item-left {
       display: flex;
       align-items: center;
   }

   .todo-item-label {
       padding: 10px;
       border: 1px solid white;
       margin-left: 12px;
   }
</style>
